.card {
  border-radius: 10px;
  overflow: hidden;
  /* padding: 15px;
  border: 1px solid rgba(10, 20, 58, 0.1); */
  width: calc((100% - 60px) / 3);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  text-decoration: none;
}

.card:hover .card--title-heading {
  color: var(--primary-background-color);
}

.card--img {
  width: 100%;
  max-height: 170px;
  border-radius: 10px;
  overflow: hidden;
}

.card--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--title {
  margin-top: 12px;
}

.card--title-heading {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  transition: color 0.2s ease;
}

.card--price {
  margin-top: 7px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.card--desc {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.card--desc:last-child {
  margin-top: 4px;
}

@media (max-width: 1200px) {
  .card {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
