.content-main__list-item {
  border-radius: 10px;
  overflow: hidden;
  /* padding: 15px;
  border: 1px solid rgba(10, 20, 58, 0.1); */
  width: calc((100% - 60px) / 3);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  text-decoration: none;
}

.content-main__list-item:hover .content-main__list-item--title-heading {
  color: var(--primary-background-color);
}

.content-main__list-item--img {
  width: 100%;
}

.content-main__list-item--img img {
  width: 100%;
}

.content-main__list-item--title {
  margin-top: 12px;
}

.content-main__list-item--title-heading {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  transition: color 0.2s ease;
}

.content-main__list-item--price {
  margin-top: 7px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.content-main__list-item--desc {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.content-main__list-item--desc:last-child {
  margin-top: 4px;
}

@media (max-width: 1200px) {
  .content-main__list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 480px) {
  .content-main__list-item {
    width: 100%;
  }
}
