.content-side__list-item {
}

.content-side__list-item--img {
}

.content-side__list-item--title {
  margin-top: 7px;
}

.content-side__list-item--title-heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.content-side__list-item--desc {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}